@media screen and (max-width: 768px){
   
   .button-menu{
       display: block;
       margin-top: 15px;
   }

   .secondary{
        margin-left: 0px;
   }
   
   .main-logo{
       margin-left: 10px;
   }

   .main-movie{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
   }

    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: #E50914;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 4rem;
        line-height: 6rem;
        display: block;
        margin-left: 50px;
        
    }

}

@media screen and (max-width: 425px){
    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 2rem;
        line-height: 6rem;
        display: block;
        margin-left: 50px;
        
    }

    .main-movie .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 30px;
        
    }
    
    .description{
    
        margin-bottom: 40px;
        max-width: 80%;
        line-height: 25px;
        text-align: center;
        
    }
    
   .buttons{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
    
}
